<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <advanced_shipping>
            <general>
                <enable>0</enable>
                <zoom>12</zoom>
                <default_marker><![CDATA[12.9716,77.5946]]></default_marker>
            </general>
            <display>
                <show_map>0</show_map>
            </display>
        </advanced_shipping>
    </default>
</config>