<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Address\Renderer">
        <plugin name="add.show_map.button" type="Codilar\AdvancedShipping\Plugin\Order\Address\Renderer" />
    </type>
</config>
